/* 框架修改 */
body{
	background-image:url(../images/music_bg.jpg);
	background-size:100% 100%;
}
nav a.active {
    background-color:LightSeaGreen;
}
#content{
	background-color:LightSeaGreen;
}

/* 新增 */
#album{
	text-align:center;
	padding-bottom:1%;
	border-bottom:5px dotted Teal;
}
#album img{
	width:15%;
	margin:0.5%;
	border-radius:5px;
}
#album img:hover{
	transform:scale(1.2);
	filter:drop-shadow(8px 8px 5px Teal);
	transition:transform 0.5s ease;
}

.album_detail{
	display:none;
	padding-top:2%;
}
:target{
	display:inline-block;
}
.album_cover{
	float:left;
	width:45%;
	text-align:center;
}
.album_list{
	float:left;
	position:absolute;
	right:5%;
	left:47%;
	width:48%;
	margin-top:2%;
	border-collapse:collapse;
}
.album_cover img{
	width:90%;
	margin-top:5%;
	border-radius:10px;
	box-shadow:10px 10px 10px Teal;
}
.album_cover h2{
	font-family:"微软雅黑";
}
.album_list td{
	padding:5px;
	border:3px dashed Teal;

}
.album_list td img{
	width:20px;
	vertical-align:bottom;
}
.album_list td:first-child{
	width:1%;
}
.album_list td:last-child{
	/* width:8%; */
	/* text-align:center; */
}

.musicapp{
	display:none;
	padding-left:5px;
}
.album_list td:hover .musicapp{
	display:inline-block;
	float:right;
	width:19px;
}